<!--
Date: 11/13/2015
Author: Jack Chang (wei0831@gmail.com)
-->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="panel panel-default" style="width:80%;margin:auto;">
  <div class="panel-body">
    <h3>{{item.title}}</h3>
    <p>
      Description: {{item.description}}
    </p>
    {% if session['user_id'] and session['user_id'] == item.user_id : %}
    <p>
      <a href="{{url_for('editItem', category_name=item.category.name, item_name=item.title)}}">Edit</a> |
      <a href="{{url_for('deleteItem', category_name=item.category.name, item_name=item.title)}}">Delete</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
